{% for serv in servers %}
	<div class="row">
		<div class="span5"><a href=""><h4>{{ serv }}</h4></a></div>
		<div class="zone-tools pull-right">
			<a href="{{ path('dns_manager_view_show', {'id': serv.id}) }}"><i class="icon-open-eye"></i>show</a>
			<a href="{{ path('dns_manager_view_delete', {'id': serv.id}) }}"><i class="icon-remove"></i>delete</a>
		</div>
	</div>
{% endfor %}